nav
  .container
    a
      color: #fff !important
    .navbar-inverse
      opacity: 0.9
      background: #679238
      border-color: #679238

      .container
        margin-top: 10px
        margin-bottom: 10px

    .navbar-header
      .navbar-brand

#owl-carousel
  .owl-controls
    width: 100%
    position: absolute
    top: 90%

  .bg-img
    width: 100%
    background-size: cover !important
