// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav
  position: fixed
  width: 100%
  padding: 15px 0
  top: 0
  z-index: 1001
  color: red

ul
  list-style: none
  margin: 0

  li
    display: inline-block
    margin: 0
    padding: 0 10px
    
footer
  background: #353535
  color: white
  height: 40%
  width: 100%

  .container-fluid
    height: 100%
    padding-top: 40px
    position: relative

  .social-connection
    padding: 30px 0
    font: 30px

    .fa-stack
      font-size: 2em

    .fa-stack-2x.fb
      color: #3B5998
    .fa-stack-2x.tw
      color: #5EA9DD
    .fa-stack-2x.gp
      color: #DF4B38

    .fa-stack-1x
      color: white

  .copy-right
    position: absolute
    width: 100%
    height: 50px
    text-align: center
    bottom: 0
    color: white
    background: #111

    h5
      line-height: 50px
      margin: 0
a
  text-decoration: none